html {

}




body {
    background-color: rgb(3, 4, 22);
    background-image: url(https://i.pinimg.com/originals/5c/f3/dc/5cf3dc9b57ad28bc6434f828e11fd83f.jpg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    
    padding:none;
    margin:none;

    
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    
}



header {
    height:200px;
    text-align: left;
}


nav {
    background-color: rgba(7, 7, 7, 0.233);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    height: 400px;
    text-align: center;
    margin-top: 200;
    padding-left: 240;
    padding-right: 240;

    
}

footer {
    background-color: rgba(0, 0, 0, 0.342);
    height:100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
}

h1 {
    font-size:84px;
    color: khaki;
    font-style: oblique;

}

p1{
    font-size:20px;
    color: whitesmoke;
    font-style: initial;
    text-align: center;

}

a{
    font-size: 40px;
    font-style: inherit;
    color: khaki;

}

nav a{
    font-size: 20px;
    text-decoration: white;
    padding-left: 14px;
    padding-right: 14px;
}

footer p2{
    text-align: center;
    font-size: 20px;
    color: rgb(208, 208, 235);
}
